// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
$v-font-size: 16px;
$v-font-weight: 300;
$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
$v-border: 1px solid (v-shade 0.7);
$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
$v-gradient: v-linear 8%;
$v-bevel-depth: 30%;
$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
$v-friendly-color: #2c9720;
$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../reindeer/reindeer.scss";

@mixin medicalarzi {
  @include reindeer;

  	//Modify the existing classes (from the reindeer theme)
	.v-tabsheet-tabsheetpanel {
		background-color: #DAF1F2;
	}

	.v-caption, .v-captiontext, .v-checkbox, .v-radiobutton {
		font-family: Verdana;
		font-size: 12px;
		font-weight: bold;
    	color: #1D313E;
  	}

	/* Lay the options horizontally for radio buttons*/
	.v-select-optiongroup-horizontal .v-select-option {
	    display: inline-block;
	}

	/* Avoid wrapping if the layout is too tight */
	.v-select-optiongroup-horizontal {
	    white-space: nowrap;
	}

	/* Some extra spacing is needed */
	.v-select-optiongroup-horizontal
	  .v-select-option.v-radiobutton {
	    padding-right: 10px;
	}

	.v-textfield-error {
		background-color: #DCE032 !important;
	}
	
	.v-tabsheet-borderless .v-tabsheet-spacertd div {
		background: #B6C9D3;
	}
	
	/*To remove the horizontal scrollbar on the search tab*/
	.v-scrollable {
		overflow-x: hidden;
	}
	
	.v-grid-editor-message {
		font-color: #B52525;
	}
	
	/***Insert your own theme rules here******/
  	.banner {
		//background-image: url("img/banner-bkgnd-1.png") !important;
		background: -webkit-linear-gradient(left top, #1F323D, #93ADBE); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(bottom right, #1F323D, #93ADBE); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(bottom right, #1F323D, #93ADBE); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to right, #1F323D, #93ADBE); /* Standard syntax */
		background: -ms-linear-gradient(to right, #1F323D, #93ADBE);
	}

	.banner-title {
  		font-family: Algerian;
		font-size: 60px;
		color: #E1E2EC;
		line-height: 1;
  	}

  	.heading {
  		font-family: cursive;
		font-size: 24px;
		font-weight: bold;
		color: #19224C;
  	}
  	
  	.loggedInPtnt {
  		font-family: cursive;
  		font-size: 12px;
  		font-weight: bold;
  		color: #FFFFFF;
  	}

  	.btnLayout {
  		background-color: #DAF1F2;
  		border: 0px;
  	}

  	.tabDescription {
  		font-size: 16px;
  		font-weight: bold;
  		padding: 5px;
  	}

  	.myForm .v-label {
  		padding-left: 15px;
  	}

  	.myFormFooter .clear {
  		margin-right: 20px;
  	}

   	.myFormFooter .save {
  		margin-left: 20px;
  	}

	.ptntRegistrationBtn {
		margin-top: 30px;
	}

	.v-caption-ptntLoginFieldsCaption {
		padding-top: 15px;
	}

	.ptntLoginBtn {
		margin-top: 10px;
	}

	.ptntLoginLinks {
		margin-top: 70px;
		padding-top: 8px;
	}

	.v-caption-ptntRegForm .v-captiontext{
		font-family: Verdana;
		font-size: 18px;
		font-weight: bold;
	}

	.footer {
		font-size: 10px;
		font-family: Verdana;
		color: #2D2F31;
	}
	
	.userFriendlyMsg {
		width: 100%;
		margin-top: 108px !important;
		font-size: 12px;
		background-color: green;
	}	

	.errorMsg {
		width: 100%;
		margin-top: 108px !important;
		font-size: 12px;
		background: #b40000 url(../reindeer/notification/img/error-close.png) no-repeat right top;
	}
	
	.errorLabel {
		font-size: 12px;
		color: red;
	}
	
	.customForm {
		margin: 10px;
		padding: 5px;
	}
	
	.mapTabsheet .v-tabsheet-tabitem-selected .v-caption {
		padding: 8px;
  		background: #375D6F;
  		border-color: #333545;
  		border-style: solid;
  		border-width: 1px;
	}
	
	.mapTabsheet .v-tabsheet-tabitem-selected .v-captiontext {
		color: #F1F2F4;
		padding-left: 5px;
		/*To set the text shadow to default values as for it is defined for borderless tabsheet and is causing some conflict*/
		text-shadow: initial; 
	}
	
	.v-panel-content-arziContent {
		overflow-y: auto;
		overflow-x: hidden;
		background-color: #B6C9D3;
	}
	
	.v-panel-caption-arziContent {
		font-family: verdana;
		font-size: 14px;
		font-weight: bold;
		padding-left: 1px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	/*Make the vertical splitter invisible for the Vertical Split Panel*/
	.v-splitpanel-vsplitter-invisiblesplitter, .v-splitpanel-vsplitter-invisiblesplitter-locked {
    	height: 0px;
	} 	
	
	/* Style the right container */
	.invisiblesplitter .v-splitpanel-second-container {
    	background: #B6C9D3;
	}

	/*for the other info textarea component*/
	.ptntMedHist {
		margin-left: 10px;
		margin-bottom: 10px;
	}
	
	/*for the other info textarea caption*/
	.v-caption-ptntMedHist {
		margin-left: 12px;
		margin-bottom: 5px;
	}
	
	/*for the ptnt address instruction text*/
	.v-caption-instructionTxt .v-captiontext {
		margin-left: 10px;	
		color: #6E646F;
	}
	
	/*for the primary location y/n section of the new arzi*/
	.v-caption-primLoc {
		margin-left: 15px;
	}
	
	.primLoc .v-select-option {
		margin-left: 15px;
		margin-top: 15px;
		margin-bottom: 10px;
	}
	
	/*for the arzi summary textarea on the new arzi*/
	.arziDetails-arziSmry {
		margin-left: 165px;
		margin-bottom: 10px;
	}
	
	.v-caption-arziDetails-arziSmry .v-captiontext {
		margin-left: 25px;
	}
	
	/*for the diabetes, cancer and heart disease option on the medical history section of the new arzi*/
	.diabetesType {
		margin-left: -120px;
		margin-top: 10px;
	}
	
	.cancerType {
		margin-left: -46px;
		margin-top: 10px;
	}
	
	.heartDiseaseType {
		margin-left: -94px;
		margin-top: 10px;
	}	
	
	.v-caption-diabetesType .v-captiontext, .v-caption-cancerType .v-captiontext, .v-caption-heartDiseaseType .v-captiontext {
		margin-left: 10px;	
	}
}
