<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.medicalarzi.dao.ArziMapper" >
	<!-- Result Map -->
	<resultMap id="ArziHdrResultMap" type="ArziHeader" >
	    <id column="ARZI_ID" property="arziId" jdbcType="INTEGER" />
	    <result column="ptntItsNbr" property="itsNumber" jdbcType="INTEGER" />
	    <result column="otherCond" property="otherCondition" jdbcType="VARCHAR" />
	    <result column="otherProc" property="otherProcedure" jdbcType="VARCHAR" />
	    <result column="otherBdyPrt" property="otherBodyPart" jdbcType="VARCHAR" />
	    <result column="arziSummary" property="arziSummary" jdbcType="VARCHAR" />
	    <result column="drConsultNote" property="doctorConsultNote" jdbcType="VARCHAR" />
	    <result column="activeInd" property="activeInd" jdbcType="VARCHAR" javaType="BOOLEAN" />
	    <result column="primaryAddrInd" property="primaryAddrInd" jdbcType="VARCHAR" javaType="BOOLEAN" />
	    <result column="addressLn1" property="ptntHomeAddress1" jdbcType="VARCHAR" />
	    <result column="addressLn2" property="ptntHomeAddress2" jdbcType="VARCHAR" />
	    <result column="phoneNum" property="ptntPhoneNum" jdbcType="VARCHAR" />
	    <result column="zipCd" property="ptntZip" jdbcType="VARCHAR" />	    
	    <result column="hdrCreateUserId" property="createdBy" jdbcType="VARCHAR" />
	    <result column="hdrCreateTS" property="createdDate" jdbcType="TIMESTAMP" />
	    <result column="hdrLastUpdUserId" property="updatedBy" jdbcType="VARCHAR" />
	    <result column="hdrLastUpdTS" property="updatedDate" jdbcType="TIMESTAMP" />
	    <association property="arziType" column="arziTypeId" javaType="ArziType">
			<id 	property="arziTypeId" 	column="arziTypeId" />
			<result property="arziTypeName" 	column="arziTypeName" />
		</association>
		<association property="bodyPart" column="bodyPartId" javaType="BodyPart">
			<id 	property="bodyPartId" 	column="bodyPartId" />
			<result property="bodyPartPrefixCd" 	column="bodyPartPrefixCd" />
			<result property="bodyPartName" 	column="bodyPartName" />
		</association>
	    <association property="procedure" column="procedureId" javaType="Procedure">
			<id 	property="procedureId" 	column="procedureId" />
			<result property="procedurePrefixCd" 	column="procedurePrefixCd" />
			<result property="procedureName" 	column="procedureName" />
		</association>
		<association property="condition" column="conditionId" javaType="Condition">
			<id 	property="conditionId" 	column="conditionId" />
			<result property="conditionPrefixCd" 	column="conditionPrefixCd" />
			<result property="conditionName" 	column="conditionName" />
		</association>
		<association property="currentStatus" column="currentStatusId" javaType="Status">
			<id 	property="statusId" 	column="currentStatusId" />
			<result property="statusDesc" 	column="currentStatusDesc" />
		</association>
		<association property="ptntLocation" column="locationId" javaType="Location" 
			select="com.example.medicalarzi.dao.LookupMapper.selectLocationById"/>
		<association property="currentStatusDate" column="currStatusDtId" javaType="GregHijDate" 
			select="com.example.medicalarzi.dao.LookupMapper.selectGregHijDateById" />
		<association property="conditionStartDate" column="condStartDtId" javaType="GregHijDate" 
			select="com.example.medicalarzi.dao.LookupMapper.selectGregHijDateById" />
		<association property="requestSubmitDate" column="requestSubmitDtId" javaType="GregHijDate" 
			select="com.example.medicalarzi.dao.LookupMapper.selectGregHijDateById" />
		<collection property="arziComments" column="arzi_id" javaType="java.util.ArrayList"
  			ofType="ArziComment" select="selectCommentsByArziId" />		
  	</resultMap>
  	
  	<resultMap id="ArziResultMap" type="Arzi" extends="ArziHdrResultMap">
  		<result column="reviewerItsNbr" property="reviewerItsNumber" jdbcType="INTEGER" />
  		<result column="dtlCreateUserId" property="createdBy" jdbcType="VARCHAR" />
	    <result column="dtlCreateTS" property="createdDate" jdbcType="TIMESTAMP" />
	    <result column="dtlLastUpdUserId" property="updatedBy" jdbcType="VARCHAR" />
	    <result column="dtlLastUpdTS" property="updatedDate" jdbcType="TIMESTAMP" />
		<association property="status" column="dtlStatusId" javaType="Status">
			<id 	property="statusId" 	column="dtlStatusId" />
			<result property="statusDesc" 	column="dtlStatusDesc" />
		</association>	    
	    <association property="reviewDate" column="reviewDtId" javaType="GregHijDate" 
  			select="com.example.medicalarzi.dao.LookupMapper.selectGregHijDateById" />
  		<association property="statusChangeDate" column="statusChangeDtId" javaType="GregHijDate" 
  			select="com.example.medicalarzi.dao.LookupMapper.selectGregHijDateById" />
  	</resultMap>
  	
  	<resultMap id="ArziSearchResultMap" type="ArziSearchResult">
  		<association property="patient" column="ptntItsNbr" javaType="Patient" 
			select="com.example.medicalarzi.dao.PatientMapper.retrievePatientInfo" />
		<association property="arzi" column="arziId" javaType="Arzi" 
			select="selectArziById" />
  	</resultMap>
  	
  	<resultMap id="ArziCommentResultMap" type="ArziComment" >
  		<id column="cmntArziId" property="arziId" jdbcType="INTEGER" />
  		<result column="cmntrItsNbr" property="commentorItsNumber" jdbcType="INTEGER" />
  		<result column="cmntTs" property="commentTimestamp" jdbcType="TIMESTAMP" />
  		<result column="cmntText" property="commentText" jdbcType="VARCHAR" />
  		<result column="dtlCreateUserId" property="createdBy" jdbcType="VARCHAR" />
	    <result column="dtlCreateTS" property="createdDate" jdbcType="TIMESTAMP" />
	    <result column="dtlLastUpdUserId" property="updatedBy" jdbcType="VARCHAR" />
	    <result column="dtlLastUpdTS" property="updatedDate" jdbcType="TIMESTAMP" />
	    <association property="commentDate" column="cmntDateId" javaType="GregHijDate" 
			select="com.example.medicalarzi.dao.LookupMapper.selectGregHijDateById" />
  	</resultMap>
  	
  	<!-- SQL fragments -->
  	<sql id="arziColumnList">
  		hdr.ITS_NBR as "ptntItsNbr",
  		hdr.ARZI_ID as "arzi_id",
  		hdr.PROC_ID as "procedureId",
  		hdr.ARZI_TYP_ID as "arziTypeId",
  		hdr.BDY_PRT_ID as "bodyPartId",
  		hdr.COND_ID as "conditionId",
  		hdr.OTHR_COND as "otherCond",
  		hdr.OTHR_PROC as "otherProc",
  		hdr.OTHR_BDY_PRT as "otherBdyPrt",
  		hdr.ARZI_SMRY as "arziSummary",
  		hdr.DR_CNSLT_NOTE as "drConsultNote",
  		hdr.PRMY_ADDR_IND as "primaryAddrInd",
  		hdr.ADDR_LN_1 as "addressLn1",
  		hdr.ADDR_LN_2 as "addressLn2",
  		hdr.PHN_NBR as "phoneNum",
  		hdr.LOC_ID as "locationId",
  		hdr.ZIP_CD as "zipCd",  		
  		hdr.ACTV_IND as "activeInd",
  		hdr.COND_STRT_DT_ID as "condStartDtId",
  		hdr.CURR_STATUS_ID as "currentStatusId",
  		hdr.CURR_STATUS_DT_ID as "currStatusDtId",
  		hdr.RQST_SMT_DT_ID as "requestSubmitDtId",
  		hdr.CREATE_USR_ID as "hdrCreateUserId",
  		hdr.CREATE_TS as "hdrCreateTS",
  		hdr.LST_UPDT_USR_ID as "hdrLastUpdUserId",
  		hdr.LST_UPDT_TS as "hdrLastUpdTS",
  		dtl.RVWR_ITS_NBR as "reviewerItsNbr",
  		dtl.STATUS_ID as "dtlStatusId",
  		dtl.STATUS_CHG_DT_ID as "statusChangeDtId",
  		dtl.RVW_DT_ID as "reviewDtId",
  		dtl.CREATE_USR_ID as "dtlCreateUserId",
  		dtl.CREATE_TS as "dtlCreateTS",
  		dtl.LST_UPDT_USR_ID as "dtlLastUpdUserId",
  		dtl.LST_UPDT_TS as "dtlLastUpdTS",
  		(SELECT PROC_NM FROM D_PROC WHERE PROC_ID = hdr.PROC_ID) AS "procedureName",
  		(SELECT PROC_PRFX_CD FROM D_PROC WHERE PROC_ID = hdr.PROC_ID) AS "procedurePrefixCd",
  		(SELECT COND_NM FROM D_COND WHERE COND_ID = hdr.COND_ID) AS "conditionName",
  		(SELECT COND_PRFX_CD FROM D_COND WHERE COND_ID = hdr.COND_ID) AS "conditionPrefixCd",
  		(SELECT BDY_PRT_NM FROM D_BDY_PRT WHERE BDY_PRT_ID = hdr.BDY_PRT_ID) AS "bodyPartName",
  		(SELECT BDY_PRT_PRFX_CD FROM D_BDY_PRT WHERE BDY_PRT_ID = hdr.BDY_PRT_ID) AS "bodyPartPrefixCd",
  		(SELECT ARZI_TYP FROM D_ARZI_TYP WHERE ARZI_TYP_ID = hdr.ARZI_TYP_ID) AS "arziTypeName",
  		(SELECT STATUS_DESC FROM D_STATUS WHERE STATUS_ID = hdr.CURR_STATUS_ID) AS "currentStatusDesc",
  		(SELECT STATUS_DESC FROM D_STATUS WHERE STATUS_ID = dtl.STATUS_ID) AS "dtlStatusDesc"
  	</sql>
  	
  	<sql id="arziCommentColumnList">
  		cmnt.ARZI_ID as "cmntArziId",
  		cmnt.CMNTR_ITS_NBR as "cmntrItsNbr",
  		cmnt.CMNT_DT_ID as "cmntDateId",
  		cmnt.CMNT_TS as "cmntTs",
  		cmnt.CMNT_TXT as "cmntText",
  		cmnt.CREATE_USR_ID as "cmntCreateUserId",
  		cmnt.CREATE_TS as "cmntCreateTS",
  		cmnt.LST_UPDT_USR_ID as "cmntLastUpdUserId",
  		cmnt.LST_UPDT_TS as "cmntLastUpdTS"
  	</sql>
  	
  	<!-- where clause fragment for the arzi search which are not in draft status. Part of it is in CDATA because of the ('>' & '<' )-->
  	<sql id="arziSearchWhere">
  		<where>
  			AND 1=1
  			AND hdr.CURR_STATUS_ID != 1000
  			AND hdr.ACTV_IND = 'Y'
  			<if test="itsNumber != null and itsNumber != ''">
				AND ptnt.PTNT_ITS_NBR = #{itsNumber,jdbcType=INTEGER}
			</if>
			<if test="firstName != null and firstName != ''">
				AND ptnt.FIRST_NM = #{firstName,jdbcType=VARCHAR}
			</if>
			<if test="lastName != null and lastName != ''">
				AND ptnt.LAST_NM = #{lastName,jdbcType=VARCHAR}
			</if>
			<if test="jamaat != null and jamaat.jamaatId != null">
				AND ptnt.JAMAAT_ID = #{jamaat.jamaatId,jdbcType=INTEGER}
			</if>
			<if test="arziType != null and arziType.arziTypeId != null">
				AND hdr.ARZI_TYP_ID = #{arziType.arziTypeId,jdbcType=INTEGER}
			</if>
			<if test="bodyPart != null and bodyPart.bodyPartId != null">
				AND hdr.BDY_PRT_ID = #{bodyPart.bodyPartId,jdbcType=INTEGER}
			</if>
			<if test="condition != null and condition.conditionId != null">
				AND hdr.COND_ID = #{condition.conditionId,jdbcType=INTEGER}
			</if>
			<if test="procedure != null and procedure.procedureId != null">
				AND hdr.PROC_ID = #{procedure.procedureId,jdbcType=INTEGER}
			</if>
			<if test="currentDate != null and searchPeriodDate != null">
				<![CDATA[
				AND hdr.CURR_STATUS_DT_ID >= #{searchPeriodDate.gregorianDateId,jdbcType=INTEGER}
				AND hdr.CURR_STATUS_DT_ID <= #{currentDate.gregorianDateId,jdbcType=INTEGER}
				]]>
			</if>	
  		</where>
  	</sql>
  	
  	<!-- Select all arzis for the patient based on the ITS number -->
  	<select id="selectAllArzisForPatient" parameterType="Long" resultMap="ArziResultMap">
		select
			<include refid="arziColumnList" />
		from 
			F_ARZI_HDR hdr left join F_ARZI_DTL dtl
		on 
			hdr.ARZI_ID = dtl.ARZI_ID
		where 
			hdr.ITS_NBR = #{itsNumber,jdbcType=INTEGER} and
			hdr.ACTV_IND = 'Y'
	</select>
	
	<!-- Select an arzi for the patient based on the ITS number and arzi id -->
	<select id="selectArziForPatient" resultMap="ArziResultMap">
		select
			<include refid="arziColumnList" />
		from 
			F_ARZI_HDR hdr left join F_ARZI_DTL dtl
		on 
			hdr.ARZI_ID = dtl.ARZI_ID
		where 
			hdr.ARZI_ID = #{arziId,jdbcType=INTEGER} and 
			hdr.ITS_NBR = #{itsNumber,jdbcType=INTEGER}
	</select>
	
	<!-- Select an arzi based on the given arzi id (unique for each arzi) -->
	<select id="selectArziById" parameterType="Long" resultMap="ArziResultMap">
		select
			<include refid="arziColumnList" />
		from 
			F_ARZI_HDR hdr left join F_ARZI_DTL dtl
		on 
			hdr.ARZI_ID = dtl.ARZI_ID
		where 
			hdr.ARZI_ID = #{arziId,jdbcType=INTEGER}
	</select>
	
	<select id="selectArzisBySearchCriteria" resultMap="ArziSearchResultMap" parameterType="ArziSearchCriteria">
		select
			ptnt.PTNT_ITS_NBR as "ptntItsNbr",
			hdr.ARZI_ID as "arziId"
		from 
			F_ARZI_HDR hdr
				join 
			 		D_PTNT ptnt on ptnt.PTNT_ITS_NBR = hdr.ITS_NBR	
				left join 
			 		F_ARZI_DTL dtl on hdr.ARZI_ID = dtl.ARZI_ID
		<include refid="arziSearchWhere" />
		order by ptnt.LAST_NM, ptnt.FIRST_NM, hdr.ARZI_ID
	</select>
	
	<select id="selectArzisByReviewerItsNumber" resultMap="ArziSearchResultMap" parameterType="Long">
		select
			ptnt.PTNT_ITS_NBR as "ptntItsNbr",
			hdr.ARZI_ID as "arziId"
		from 
			F_ARZI_HDR hdr
				join 
			 		D_PTNT ptnt on ptnt.PTNT_ITS_NBR = hdr.ITS_NBR	
				left join 
			 		F_ARZI_DTL dtl on hdr.ARZI_ID = dtl.ARZI_ID
		where 
			dtl.RVWR_ITS_NBR = #{reviewerItsNumber,jdbcType=INTEGER} and
			dtl.STATUS_ID = 1002 and
			hdr.CURR_STATUS_ID = 1002
	</select>
	
	<select id="selectCommentsByArziId" resultMap="ArziCommentResultMap">
		select
			<include refid="arziCommentColumnList" />
		from 
			F_ARZI_CMNT cmnt
		where 
			cmnt.ARZI_ID = #{arziId,jdbcType=INTEGER}
	</select>
	
	<select id="selectCommentsByDate" resultMap="ArziCommentResultMap">
		select
			<include refid="arziCommentColumnList" />
		from 
			F_ARZI_CMNT cmnt
		where 
			cmnt.CMNT_TS = #{commentTimestamp,jdbcType=DATE}
	</select>
  	
	<!-- Insert -->
	<insert id="insertPatientsNewArzi" parameterType="Arzi" useGeneratedKeys="true" keyProperty="arziId" keyColumn="ARZI_ID">
		<![CDATA[
			insert into F_ARZI_HDR (
				ITS_NBR,
				PROC_ID,
				ARZI_TYP_ID,
				BDY_PRT_ID,
				COND_ID,
				OTHR_COND,
				OTHR_PROC,
				OTHR_BDY_PRT,
				COND_STRT_DT_ID,
				ARZI_SMRY,
				PRMY_ADDR_IND,
				ADDR_LN_1,
				ADDR_LN_2,
				LOC_ID,
				ZIP_CD,
				PHN_NBR,
				CREATE_USR_ID,
				CREATE_TS,
				LST_UPDT_USR_ID,
				LST_UPDT_TS,
				RQST_SMT_DT_ID,
				CURR_STATUS_ID,
				CURR_STATUS_DT_ID
			) values (
			#{itsNumber,jdbcType=INTEGER},
			#{procedure.procedureId,jdbcType=INTEGER},
			#{arziType.arziTypeId,jdbcType=INTEGER},
			#{bodyPart.bodyPartId,jdbcType=INTEGER},
			#{condition.conditionId,jdbcType=INTEGER},
			#{otherCondition,jdbcType=VARCHAR},
			#{otherProcedure,jdbcType=VARCHAR},
			#{otherBodyPart,jdbcType=VARCHAR},
			#{conditionStartDate.gregorianDateId,jdbcType=INTEGER},
			#{arziSummary,jdbcType=VARCHAR},
			#{primaryAddrInd,jdbcType=VARCHAR,javaType=BOOLEAN},
			#{ptntHomeAddress1,jdbcType=VARCHAR},
			#{ptntHomeAddress2,jdbcType=VARCHAR},
			#{ptntLocation.locationId,jdbcType=INTEGER},
			#{ptntZip,jdbcType=VARCHAR},
			#{ptntPhoneNum,jdbcType=VARCHAR},
			#{itsNumber,jdbcType=INTEGER},
			now(),
			#{itsNumber,jdbcType=INTEGER},
			now(),
			#{requestSubmitDate.gregorianDateId,jdbcType=INTEGER},
			#{currentStatus.statusId,jdbcType=INTEGER},
			#{currentStatusDate.gregorianDateId,jdbcType=INTEGER}
			 ) ]]>
		 <selectKey keyProperty="arziId" resultType="long" order="AFTER"> 
			 SELECT LAST_INSERT_ID()
   		</selectKey> 
	</insert> 
	
	<insert id="insertArziDetail" parameterType="Arzi">
		<![CDATA[
			insert into F_ARZI_DTL (
				ARZI_ID,
				STATUS_ID,
				STATUS_CHG_DT_ID,
				RVWR_ITS_NBR,
				RVW_DT_ID,
				CREATE_USR_ID,
				CREATE_TS,
				LST_UPDT_USR_ID,
				LST_UPDT_TS
			) values (
			#{arziId,jdbcType=INTEGER},
			#{status.statusId,jdbcType=INTEGER},
			#{statusChangeDate.gregorianDateId,jdbcType=INTEGER},
			#{reviewerItsNumber,jdbcType=INTEGER},
			#{reviewDate.gregorianDateId,jdbcType=INTEGER},
			#{itsNumber,jdbcType=INTEGER},
			now(),
			#{itsNumber,jdbcType=INTEGER},
			now()
			 ) ]]>
	</insert>
	
	<insert id="insertArziComment" parameterType="ArziComment">
		<![CDATA[
			insert into F_ARZI_CMNT (
				ARZI_ID,
				CMNTR_ITS_NBR,
				CMNT_DT_ID,
				CMNT_TS,
				CMNT_TXT,
				CREATE_USR_ID,
				CREATE_TS,
				LST_UPDT_USR_ID,
				LST_UPDT_TS
			) values (
			#{arziId,jdbcType=INTEGER},
			#{commentorItsNumber,jdbcType=INTEGER},
			#{commentDate.gregorianDateId,jdbcType=INTEGER},
			#{commentTimestamp,jdbcType=TIMESTAMP},
			#{commentText,jdbcType=VARCHAR},
			#{commentorItsNumber,jdbcType=INTEGER},
			now(),
			#{commentorItsNumber,jdbcType=INTEGER},
			now()
			 ) ]]>
	</insert>
	
	<!-- Update --> 
	<update id="updateArziHdrSelective" parameterType="Arzi">
    	update F_ARZI_HDR
	    <set>
	      	<if test="arziType != null">
        		ARZI_TYP_ID = #{arziType.arziTypeId,jdbcType=INTEGER},
      		</if>
      		<if test="bodyPart != null">
      			BDY_PRT_ID = #{bodyPart.bodyPartId,jdbcType=INTEGER},
      		</if>
      		<if test="condition != null">
      			COND_ID = #{condition.conditionId,jdbcType=INTEGER},
      		</if>
      		<if test="otherCondition != null">
      			OTHR_COND = #{otherCondition,jdbcType=VARCHAR},
      		</if>
      		<if test="otherProcedure != null">
      			OTHR_PROC = #{otherProcedure,jdbcType=VARCHAR},
      		</if>
      		<if test="otherBodyPart != null">
      			OTHR_BDY_PRT = #{otherBodyPart,jdbcType=VARCHAR},
      		</if>
      		<if test="arziSummary != null">
      			ARZI_SMRY = #{arziSummary,jdbcType=VARCHAR},
      		</if>
      		<if test="conditionStartDate != null">
      			COND_STRT_DT_ID = (select DT_ID from D_DATE where CAL_DT = #{conditionStartDate.gregorianCalDate,jdbcType=DATE}),
      		</if>
      		<if test="procedure != null">
      			PROC_ID = #{procedure.procedureId,jdbcType=INTEGER},
      		</if>
      		<if test="doctorConsultNote != null">
      			DR_CNSLT_NOTE = #{doctorConsultNote,jdbcType=VARCHAR},
      		</if>
      		<if test="currentStatus != null">
      			CURR_STATUS_ID = #{currentStatus.statusId,jdbcType=INTEGER},
      		</if>
	      	<if test="primaryAddrInd != null" >
	        	PRMY_ADDR_IND = #{primaryAddrInd,jdbcType=VARCHAR,javaType=BOOLEAN},
	      	</if>      		
       		<if test="ptntHomeAddress1 != null">
      			ADDR_LN_1 = #{ptntHomeAddress1,jdbcType=VARCHAR},
      		</if>
      		<if test="ptntHomeAddress2 != null">
      			ADDR_LN_2 = #{ptntHomeAddress2,jdbcType=VARCHAR},
      		</if>
      		<if test="ptntPhoneNum != null">
      			PHN_NBR = #{ptntPhoneNum,jdbcType=VARCHAR},
      		</if>
      		<if test="ptntLocation != null and ptntLocation.locationId != null">
      			LOC_ID = #{ptntLocation.locationId,jdbcType=VARCHAR},
      		</if>
      		<if test="ptntZip != null">
      			ZIP_CD = #{ptntZip,jdbcType=VARCHAR},
      		</if>     		
      		<if test="updatedBy != null">
      			LST_UPDT_USR_ID = #{updatedBy,jdbcType=VARCHAR},
      		</if>
      		LST_UPDT_TS = now()
      		where ARZI_ID = #{arziId,jdbcType=INTEGER}
	    </set>
    </update>
    
    <update id="updateArziHdrActiveInd">
    	update F_ARZI_HDR set ACTV_IND = 'N' 
    		where ARZI_ID = #{arziId,jdbcType=INTEGER}
    </update>
    
    <update id="updateArziHdrCurrentStatus" parameterType="Arzi">
    	update F_ARZI_HDR
    	<set>
    		<if test="currentStatus != null">
      			CURR_STATUS_ID = #{currentStatus.statusId,jdbcType=INTEGER},
      		</if>
      		<if test="currentStatusDate != null">
      			CURR_STATUS_DT_ID = (select DT_ID from D_DATE where CAL_DT = #{currentStatusDate.gregorianCalDate,jdbcType=DATE}),
      		</if>
      		<if test="updatedBy != null">
      			LST_UPDT_USR_ID = #{updatedBy,jdbcType=VARCHAR},
      		</if>      		
      		LST_UPDT_TS = now()
      		where ARZI_ID = #{arziId,jdbcType=INTEGER}
	    </set>
    </update>
    
    <!-- Delete -->
    <delete id="deleteArziHeaderById">
    	delete from F_ARZI_HDR where ARZI_ID = #{arziId,jdbcType=INTEGER}
    </delete>
    
    <delete id="deleteArziDetailById">
    	delete from F_ARZI_DTL where ARZI_ID = #{arziId,jdbcType=INTEGER}
    </delete>
</mapper>