<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.medicalarzi.dao.ArziMapper" >
	<!-- Result Map -->
	<resultMap id="ArziHdrResultMap" type="ArziHeader" >
	    <id column="ARZI_ID" property="arziId" jdbcType="INTEGER" />
	    <result column="ptntItsNbr" property="itsNumber" jdbcType="INTEGER" />
	    <result column="otherCond" property="otherCondition" jdbcType="VARCHAR" />
	    <result column="hdrCreateUserId" property="createdBy" jdbcType="VARCHAR" />
	    <result column="hdrCreateTS" property="createdDate" jdbcType="TIMESTAMP" />
	    <result column="hdrLastUpdUserId" property="updatedBy" jdbcType="VARCHAR" />
	    <result column="hdrLastUpdTS" property="updatedDate" jdbcType="TIMESTAMP" />
	    <association property="arziType" column="arziTypeId" javaType="ArziType">
			<id 	property="arziTypeId" 	column="arziTypeId" />
			<result property="arziTypeName" 	column="arziTypeName" />
		</association>
		<association property="bodyPart" column="bodyPartId" javaType="BodyPart">
			<id 	property="bodyPartId" 	column="bodyPartId" />
			<result property="bodyPartPrefixCd" 	column="bodyPartPrefixCd" />
			<result property="bodyPartName" 	column="bodyPartName" />
		</association>
	    <association property="procedure" column="procedureId" javaType="Procedure">
			<id 	property="procedureId" 	column="procedureId" />
			<result property="procedurePrefixCd" 	column="procedurePrefixCd" />
			<result property="procedureName" 	column="procedureName" />
		</association>
		<association property="condition" column="conditionId" javaType="Condition">
			<id 	property="conditionId" 	column="conditionId" />
			<result property="conditionPrefixCd" 	column="conditionPrefixCd" />
			<result property="conditionName" 	column="conditionName" />
		</association>
		<association property="currentStatus" column="currentStatusId" javaType="Status">
			<id 	property="statusId" 	column="currentStatusId" />
			<result property="statusDesc" 	column="currentStatusDesc" />
		</association>
		<association property="currentStatusDate" column="currStatusDtId" javaType="GregHijDate" 
			select="com.example.medicalarzi.dao.LookupMapper.selectGregHijDateById" />
		<association property="conditionStartDate" column="condStartDtId" javaType="GregHijDate" 
			select="com.example.medicalarzi.dao.LookupMapper.selectGregHijDateById" />
		<association property="requestSubmitDate" column="requestSubmitDtId" javaType="GregHijDate" 
			select="com.example.medicalarzi.dao.LookupMapper.selectGregHijDateById" />			
  	</resultMap>
  	
  	<resultMap id="ArziResultMap" type="Arzi" extends="ArziHdrResultMap">
  		<result column="reviewerItsNbr" property="reviewerItsNumber" jdbcType="INTEGER" />
  		<result column="dtlCreateUserId" property="createdBy" jdbcType="VARCHAR" />
	    <result column="dtlCreateTS" property="createdDate" jdbcType="TIMESTAMP" />
	    <result column="dtlLastUpdUserId" property="updatedBy" jdbcType="VARCHAR" />
	    <result column="dtlLastUpdTS" property="updatedDate" jdbcType="TIMESTAMP" />
	    <association property="reviewDate" column="reviewDtId" javaType="GregHijDate" 
  			select="com.example.medicalarzi.dao.LookupMapper.selectGregHijDateById" />
  		<association property="statusChangeDate" column="statusChangeDtId" javaType="GregHijDate" 
  			select="com.example.medicalarzi.dao.LookupMapper.selectGregHijDateById" />
  	</resultMap>
  	
  	<resultMap id="ArziSearchResultMap" type="ArziSearchResult">
  		<association property="patient" column="ptntItsNbr" javaType="Patient" 
			select="com.example.medicalarzi.dao.PatientMapper.retrievePatientInfo" />
		<association property="arzi" column="arziId" javaType="Arzi" 
			select="selectArziById" />
  	</resultMap>
  	
  	<!-- SQL fragments -->
  	<sql id="arziColumnList">
  		hdr.ITS_NBR as "ptntItsNbr",
  		hdr.ARZI_ID as "arzi_id",
  		hdr.PROC_ID as "procedureId",
  		hdr.ARZI_TYP_ID as "arziTypeId",
  		hdr.BDY_PRT_ID as "bodyPartId",
  		hdr.COND_ID as "conditionId",
  		hdr.OTHR_COND as "otherCond",
  		hdr.COND_STRT_DT_ID as "condStartDtId",
  		hdr.CURR_STATUS_ID as "currentStatusId",
  		hdr.CURR_STATUS_DT_ID as "currStatusDtId",
  		hdr.RQST_SMT_DT_ID as "requestSubmitDtId",
  		hdr.CREATE_USR_ID as "hdrCreateUserId",
  		hdr.CREATE_TS as "hdrCreateTS",
  		hdr.LST_UPDT_USR_ID as "hdrLastUpdUserId",
  		hdr.LST_UPDT_TS as "hdrLastUpdTS",
  		dtl.RVWR_ITS_NBR as "reviewerItsNbr",
  		dtl.STATUS_ID as "status_id",
  		dtl.STATUS_CHG_DT_ID as "statusChangeDtId",
  		dtl.RVW_DT_ID as "reviewDtId",
  		dtl.CREATE_USR_ID as "dtlCreateUserId",
  		dtl.CREATE_TS as "dtlCreateTS",
  		dtl.LST_UPDT_USR_ID as "dtlLastUpdUserId",
  		dtl.LST_UPDT_TS as "dtlLastUpdTS",
  		(SELECT PROC_NM FROM D_PROC WHERE PROC_ID = hdr.PROC_ID) AS "procedureName",
  		(SELECT PROC_PRFX_CD FROM D_PROC WHERE PROC_ID = hdr.PROC_ID) AS "procedurePrefixCd",
  		(SELECT COND_NM FROM D_COND WHERE COND_ID = hdr.COND_ID) AS "conditionName",
  		(SELECT COND_PRFX_CD FROM D_COND WHERE COND_ID = hdr.COND_ID) AS "conditionPrefixCd",
  		(SELECT BDY_PRT_NM FROM D_BDY_PRT WHERE BDY_PRT_ID = hdr.BDY_PRT_ID) AS "bodyPartName",
  		(SELECT BDY_PRT_PRFX_CD FROM D_BDY_PRT WHERE BDY_PRT_ID = hdr.BDY_PRT_ID) AS "bodyPartPrefixCd",
  		(SELECT ARZI_TYP FROM D_ARZI_TYP WHERE ARZI_TYP_ID = hdr.ARZI_TYP_ID) AS "arziTypeName",
  		(SELECT STATUS_DESC FROM D_STATUS WHERE STATUS_ID = hdr.CURR_STATUS_ID) AS "currentStatusDesc"
  	</sql>
  	
  	<!-- where clause fragment for the arzi search which are not in draft status. Part of it is in CDATA because of the ('>' & '<' )-->
  	<sql id="arziSearchWhere">
  		<where>
  			AND 1=1
  			AND hdr.CURR_STATUS_ID != 1000
  			<if test="itsNumber != null and itsNumber != ''">
				AND ptnt.PTNT_ITS_NBR = #{itsNumber,jdbcType=INTEGER}
			</if>
			<if test="firstName != null and firstName != ''">
				AND ptnt.FIRST_NM = #{firstName,jdbcType=VARCHAR}
			</if>
			<if test="lastName != null and lastName != ''">
				AND ptnt.LAST_NM = #{lastName,jdbcType=VARCHAR}
			</if>
			<if test="jamaat != null and jamaat.jamaatId != null">
				AND ptnt.JAMAAT_ID = #{jamaat.jamaatId,jdbcType=INTEGER}
			</if>
			<if test="arziType != null and arziType.arziTypeId != null">
				AND hdr.ARZI_TYP_ID = #{arziType.arziTypeId,jdbcType=INTEGER}
			</if>
			<if test="bodyPart != null and bodyPart.bodyPartId != null">
				AND hdr.BDY_PRT_ID = #{bodyPart.bodyPartId,jdbcType=INTEGER}
			</if>
			<if test="condition != null and condition.conditionId != null">
				AND hdr.COND_ID = #{condition.conditionId,jdbcType=INTEGER}
			</if>
			<if test="procedure != null and procedure.procedureId != null">
				AND hdr.PROC_ID = #{procedure.procedureId,jdbcType=INTEGER}
			</if>
			<if test="currentDate != null and searchPeriodDate != null">
				<![CDATA[
				AND hdr.CURR_STATUS_DT_ID >= #{searchPeriodDate.gregorianDateId,jdbcType=INTEGER}
				AND hdr.CURR_STATUS_DT_ID <= #{currentDate.gregorianDateId,jdbcType=INTEGER}
				]]>
			</if>	
  		</where>
  	</sql>
  	
  	<!-- Select all arzis for the patient based on the ITS number -->
  	<select id="selectAllArzisForPatient" parameterType="Long" resultMap="ArziResultMap">
		select
			<include refid="arziColumnList" />
		from 
			F_ARZI_HDR hdr left join F_ARZI_DTL dtl
		on 
			hdr.ARZI_ID = dtl.ARZI_ID
		where 
			hdr.ITS_NBR = #{itsNumber,jdbcType=INTEGER}
	</select>
	
	<!-- Select an arzi for the patient based on the ITS number and arzi id -->
	<select id="selectArziForPatient" resultMap="ArziResultMap">
		select
			<include refid="arziColumnList" />
		from 
			F_ARZI_HDR hdr left join F_ARZI_DTL dtl
		on 
			hdr.ARZI_ID = dtl.ARZI_ID
		where 
			hdr.ARZI_ID = #{arziId,jdbcType=INTEGER} and 
			hdr.ITS_NBR = #{itsNumber,jdbcType=INTEGER}
	</select>
	
	<!-- Select an arzi based on the given arzi id (unique for each arzi) -->
	<select id="selectArziById" parameterType="Long" resultMap="ArziResultMap">
		select
			<include refid="arziColumnList" />
		from 
			F_ARZI_HDR hdr left join F_ARZI_DTL dtl
		on 
			hdr.ARZI_ID = dtl.ARZI_ID
		where 
			hdr.ARZI_ID = #{arziId,jdbcType=INTEGER}
	</select>
	
	<select id="selectArzisBySearchCriteria" resultMap="ArziSearchResultMap" parameterType="ArziSearchCriteria">
		select
			ptnt.PTNT_ITS_NBR as "ptntItsNbr",
			hdr.ARZI_ID as "arziId"
		from 
			F_ARZI_HDR hdr
				join 
			 		D_PTNT ptnt on ptnt.PTNT_ITS_NBR = hdr.ITS_NBR	
				left join 
			 		F_ARZI_DTL dtl on hdr.ARZI_ID = dtl.ARZI_ID
		<include refid="arziSearchWhere" />
		order by ptnt.LAST_NM, ptnt.FIRST_NM, hdr.ARZI_ID
	</select>
  	
	<!-- Insert -->
	<insert id="insertPatientsNewArzi" parameterType="Arzi">
		<![CDATA[
			insert into F_ARZI_HDR (
				ITS_NBR,
				PROC_ID,
				ARZI_TYP_ID,
				BDY_PRT_ID,
				COND_ID,
				OTHR_COND,
				COND_STRT_DT_ID,
				CREATE_USR_ID,
				CREATE_TS,
				RQST_SMT_DT_ID,
				CURR_STATUS_ID,
				CURR_STATUS_DT_ID
			) values (
			#{itsNumber,jdbcType=INTEGER},
			#{procedure.procedureId,jdbcType=INTEGER},
			#{arziType.arziTypeId,jdbcType=INTEGER},
			#{bodyPart.bodyPartId,jdbcType=INTEGER},
			#{condition.conditionId,jdbcType=INTEGER},
			#{otherCondition,jdbcType=VARCHAR},
			#{conditionStartDate.gregorianDateId,jdbcType=INTEGER},
			#{itsNumber,jdbcType=INTEGER},
			now(),
			#{requestSubmitDate.gregorianDateId,jdbcType=INTEGER},
			#{currentStatus.statusId,jdbcType=INTEGER},
			#{currentStatusDate.gregorianDateId,jdbcType=INTEGER}
			 ) ]]>
	</insert> 
	
	<!-- Update --> 
	<update id="updateArziHdrSelective" parameterType="Arzi">
    	update F_ARZI_HDR
	    <set>
	      	<if test="arziType != null">
        		ARZI_TYP_ID = #{arziType.arziTypeId,jdbcType=INTEGER},
      		</if>
      		<if test="bodyPart != null">
      			BDY_PRT_ID = #{bodyPart.bodyPartId,jdbcType=INTEGER},
      		</if>
      		<if test="condition != null">
      			COND_ID = #{condition.conditionId,jdbcType=INTEGER},
      		</if>
      		<if test="otherCondition != null">
      			OTHR_COND = #{otherCondition,jdbcType=VARCHAR},
      		</if>
      		<if test="conditionStartDate != null">
      			COND_STRT_DT_ID = (select DT_ID from D_DATE where CAL_DT = #{conditionStartDate.gregorianCalDate,jdbcType=DATE}),
      		</if>
      		<if test="procedure != null">
      			PROC_ID = #{procedure.procedureId,jdbcType=INTEGER},
      		</if>
      		<if test="currentStatus != null">
      			CURR_STATUS_ID = #{currentStatus.statusId,jdbcType=INTEGER},
      		</if>
      		LST_UPDT_USR_ID = #{itsNumber,jdbcType=VARCHAR},
      		LST_UPDT_TS = now()
      		 where ARZI_ID = #{arziId,jdbcType=INTEGER}
	    </set>
    </update>
    
    <!-- Delete -->
    <delete id="deleteArziHeaderById">
    	delete from F_ARZI_HDR where ARZI_ID = #{arziId,jdbcType=INTEGER}
    </delete>
    
    <delete id="deleteArziDetailById">
    	delete from F_ARZI_DTL where ARZI_ID = #{arziId,jdbcType=INTEGER}
    </delete>
</mapper>