<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.medicalarzi.dao.ArziMapper" >
	<!-- Result Map -->
	<resultMap id="ArziHdrResultMap" type="ArziHeader" >
	    <id column="ARZI_ID" property="arziId" jdbcType="INTEGER" />
	    <result column="ITS_NBR" property="itsNumber" jdbcType="INTEGER" />
	    <result column="CREATE_USR_ID" property="createdBy" jdbcType="VARCHAR" />
	    <result column="CREATE_TS" property="createdDate" jdbcType="TIMESTAMP" />
	    <result column="LST_UPDT_USR_ID" property="updatedBy" jdbcType="VARCHAR" />
	    <result column="LST_UPDT_TS" property="updatedDate" jdbcType="TIMESTAMP" />
	    <association property="arziType" column="arziTypeId" javaType="ArziType">
			<id 	property="arziTypeId" 	column="arziTypeId" />
			<result property="arzTypeName" 	column="arzTypeName" />
		</association>
	    <association property="procedure" column="procedureId" javaType="Procedure">
			<id 	property="procedureId" 	column="procedureId" />
			<result property="procedurePrefixCd" 	column="procedurePrefixCd" />
			<result property="procedureName" 	column="procedureName" />
		</association>
		<association property="condition" column="conditionId" javaType="Condition">
			<id 	property="conditionId" 	column="conditionId" />
			<result property="conditionPrefixCd" 	column="conditionPrefixCd" />
			<result property="conditionName" 	column="conditionName" />
		</association>
		<association property="currentStatusDate" column="currStatusDtId" javaType="GregHijDate">
			<id 	property="gregorianDateId" 	column="currStatusDtId" />
			<result	property="gregorianCalDate" column="CAL_DT"  jdbcType="TIMESTAMP" />
			<result property="hijriCalDate" 	column="HIJRI_DT" jdbcType="VARCHAR" />
		</association>
  	</resultMap>
  	<resultMap id="ArziResultMap" type="Arzi" extends="ArziHdrResultMap">
  		<result column="ITS_NBR" property="reviewerItsNumber" jdbcType="INTEGER" />
  		<association property="reviewDate" column="reviewDateId" javaType="GregHijDate">
  			<id 	property="gregorianDateId" 	column="reviewDateId" />
			<result	property="gregorianCalDate" column="CAL_DT"  jdbcType="TIMESTAMP" />
			<result property="hijriCalDate" 	column="HIJRI_DT" jdbcType="VARCHAR" />
		</association>
		<association property="statusChangeDate" column="statusChangeDateId" javaType="GregHijDate">
			<id 	property="gregorianDateId" 	column="statusChangeDateId" />
			<result	property="gregorianCalDate" column="CAL_DT"  jdbcType="TIMESTAMP" />
			<result property="hijriCalDate" 	column="HIJRI_DT"  jdbcType="VARCHAR" />
		</association>
  	</resultMap>
  	
	<!-- Insert -->
	<insert id="insertPatientsNewArzi" parameterType="Arzi">
		<![CDATA[
			insert into F_ARZI_HDR (
				ITS_NBR,
				PROC_ID,
				ARZI_TYP_ID,
				BDY_PRT_ID,
				COND_ID,
				COND_STRT_DT_ID,
				CREATE_USR_ID,
				CREATE_TS,
				RQST_SMT_DT_ID,
				CURR_STATUS_ID,
				CURR_STATUS_DT_ID
			) values (
			#{itsNumber,jdbcType=INTEGER},
			#{procedure.procedureId,jdbcType=INTEGER},
			#{arziType.arziTypeId,jdbcType=INTEGER},
			#{bodyPart.bodyPartId,jdbcType=INTEGER},
			#{condition.conditionId,jdbcType=INTEGER},
			#{conditionStartDate.gregorianDateId,jdbcType=INTEGER},
			#{itsNumber,jdbcType=INTEGER},
			now(),
			#{requestSubmitDate.gregorianDateId,jdbcType=INTEGER},
			#{currentStatus.statusId,jdbcType=INTEGER},
			#{currentStatusDate.gregorianDateId,jdbcType=INTEGER}
			 ) ]]>
	</insert>  	
</mapper>