<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.medicalarzi.dao.LookupMapper" >
	<cache/>
	<resultMap id="BaseResultMap" type="Lookup" >
	    <id column="LKUP_ID" property="lookupId" jdbcType="INTEGER" />
	    <result column="LKUP_TYPE" property="lookupType" jdbcType="VARCHAR" />
	    <result column="LKUP_VAL" property="lookupValue" jdbcType="VARCHAR" />
	    <result column="LKUP_DESC" property="description" jdbcType="VARCHAR" />
	    <result column="SORT_ORDER" property="sortOrder" jdbcType="INTEGER" />
	    <result column="ACTIVE_IND" property="activeInd" jdbcType="VARCHAR" />
	    <result column="CREATE_TS" property="createdDate" jdbcType="TIMESTAMP" />
	    <result column="LST_UPDT_TS" property="updatedDate" jdbcType="TIMESTAMP" />
	    <result column="CREATE_USR_ID" property="createdBy" jdbcType="VARCHAR" />
	    <result column="LST_UPDT_USR_ID" property="updatedBy" jdbcType="VARCHAR" />
  	</resultMap>
   	<resultMap id="DistinctLookupTypeResultMap" type="Lookup" >
    	<result column="LOOKUP_TYPE" property="lookupType" jdbcType="VARCHAR" />
  	</resultMap>
  	<resultMap type="BodyPart" id="BodyPartResultMap">
  		<id column="BDY_PRT_ID" property="bodyPartId" jdbcType="INTEGER" />
	    <result column="BDY_PRT_PRFX_CD" property="bodyPartPrefixCd" jdbcType="VARCHAR" />
	    <result column="BDY_PRT_NM" property="bodyPartName" jdbcType="VARCHAR" />
	    <result column="ACTV_IND" property="activeInd" jdbcType="VARCHAR" />
	    <result column="CREATE_TS" property="createdDate" jdbcType="TIMESTAMP" />
	    <result column="LST_UPDT_TS" property="updatedDate" jdbcType="TIMESTAMP" />
	    <result column="CREATE_USR_ID" property="createdBy" jdbcType="VARCHAR" />
	    <result column="LST_UPDT_USR_ID" property="updatedBy" jdbcType="VARCHAR" />
  	</resultMap>
  	<resultMap type="Condition" id="ConditionResultMap">
  		<id column="COND_ID" property="conditionId" jdbcType="INTEGER" />
	    <result column="COND_PRFX_CD" property="conditionPrefixCd" jdbcType="VARCHAR" />
	    <result column="COND_NM" property="conditionName" jdbcType="VARCHAR" />
	    <result column="ACTV_IND" property="activeInd" jdbcType="VARCHAR" />
	    <result column="CREATE_TS" property="createdDate" jdbcType="TIMESTAMP" />
	    <result column="LST_UPDT_TS" property="updatedDate" jdbcType="TIMESTAMP" />
	    <result column="CREATE_USR_ID" property="createdBy" jdbcType="VARCHAR" />
	    <result column="LST_UPDT_USR_ID" property="updatedBy" jdbcType="VARCHAR" />
  	</resultMap>
  	<resultMap type="Procedure" id="ProcedureResultMap">
  		<id column="PROC_ID" property="procedureId" jdbcType="INTEGER" />
	    <result column="PROC_PRFX_CD" property="procedurePrefixCd" jdbcType="VARCHAR" />
	    <result column="PROC_NM" property="procedureName" jdbcType="VARCHAR" />
	    <result column="ACTV_IND" property="activeInd" jdbcType="VARCHAR" />
	    <result column="CREATE_TS" property="createdDate" jdbcType="TIMESTAMP" />
	    <result column="LST_UPDT_TS" property="updatedDate" jdbcType="TIMESTAMP" />
	    <result column="CREATE_USR_ID" property="createdBy" jdbcType="VARCHAR" />
	    <result column="LST_UPDT_USR_ID" property="updatedBy" jdbcType="VARCHAR" />
  	</resultMap>
  	<resultMap type="ArziType" id="ArziTypeResultMap">
  		<id column="ARZI_TYP_ID" property="arziTypeId" jdbcType="INTEGER" />
  		<result column="ARZI_TYP" property="arziTypeName" jdbcType="VARCHAR" />
  		<result column="CREATE_TS" property="createdDate" jdbcType="TIMESTAMP" />
	    <result column="LST_UPDT_TS" property="updatedDate" jdbcType="TIMESTAMP" />
	    <result column="CREATE_USR_ID" property="createdBy" jdbcType="VARCHAR" />
	    <result column="LST_UPDT_USR_ID" property="updatedBy" jdbcType="VARCHAR" />
  	</resultMap>
  	<resultMap type="GregHijDate" id="GregHijDateResultMap">
  		<id column="DT_ID" property="gregorianDateId" jdbcType="INTEGER" />
  		<result column="CAL_DT" property="gregorianCalDate" jdbcType="DATE" />
  		<result column="CAL_YR" property="gregorianCalYear" jdbcType="INTEGER" />
  		<result column="CAL_MNTH_NBR" property="gregorianCalMnthNbr" jdbcType="INTEGER" />
  		<result column="CAL_MNTH_NM" property="gregorianCalMnthName" jdbcType="VARCHAR" />
  		<result column="HIJRI_DATE_ID" property="hijriDateId" jdbcType="INTEGER" />
  		<result column="HIJRI_DT" property="hijriCalDate" jdbcType="VARCHAR" />
  		<result column="HIJRI_YR" property="hijriCalYear" jdbcType="INTEGER" />
  		<result column="HIJRI_MNTH_NBR" property="hijriCalMnthNbr" jdbcType="INTEGER" />
  		<result column="HIJRI_MNTH_NM" property="hijriCalMnthName" jdbcType="VARCHAR" />
  		<result column="MIQAAT_MNTH_DY" property="miqaatMnthDay" jdbcType="VARCHAR" />
  		<result column="CREATE_TS" property="createdDate" jdbcType="TIMESTAMP" />
	    <result column="LST_UPDT_TS" property="updatedDate" jdbcType="TIMESTAMP" />
	    <result column="CREATE_USR_ID" property="createdBy" jdbcType="VARCHAR" />
	    <result column="LST_UPDT_USR_ID" property="updatedBy" jdbcType="VARCHAR" />
  	</resultMap>
  	<resultMap type="Jamaat" id="JamaatResultMap">
  		<id column="JAMAAT_ID" property="jamaatId" jdbcType="INTEGER" />
  		<result column="JAMAAT_NM" property="jamaatName" jdbcType="VARCHAR" />
  		<result column="JAMIYAT_NM" property="jamiyatName" jdbcType="VARCHAR" />
  		<result column="REGION" property="region" jdbcType="VARCHAR" />
  		<result column="COUNTRY" property="country" jdbcType="VARCHAR" />
  		<result column="CREATE_USR_ID" property="createdBy" jdbcType="VARCHAR" />
	    <result column="CREATE_TS" property="createdDate" jdbcType="TIMESTAMP" />
	    <result column="LST_UPDT_USR_ID" property="updatedBy" jdbcType="VARCHAR" />
	    <result column="LST_UPDT_TS" property="updatedDate" jdbcType="TIMESTAMP" />
  	</resultMap>
  	<resultMap type="Location" id="LocationResultMap">
  		<id column="LOC_ID" property="locationId" jdbcType="INTEGER" />
  		<result column="CITY_NM" property="city" jdbcType="VARCHAR" />
  		<result column="STATE_NM" property="state" jdbcType="VARCHAR" />
   		<result column="CNTRY_NM" property="country" jdbcType="VARCHAR" />
  		<result column="CREATE_USR_ID" property="createdBy" jdbcType="VARCHAR" />
	    <result column="CREATE_TS" property="createdDate" jdbcType="TIMESTAMP" />
	    <result column="LST_UPDT_USR_ID" property="updatedBy" jdbcType="VARCHAR" />
	    <result column="LST_UPDT_TS" property="updatedDate" jdbcType="TIMESTAMP" />
  	</resultMap>  	

	<!-- SQL fragments -->
  	<sql id="Base_Column_List" >
    	LKUP_ID, LKUP_TYPE, LKUP_VAL, LKUP_DESC, SORT_ORDER, ACTIVE_IND,
    	CREATE_TS, LST_UPDT_TS, CREATE_USR_ID, LST_UPDT_USR_ID
  	</sql>
  	<sql id="BodyPart_Column_List" >
    	BDY_PRT_ID, BDY_PRT_PRFX_CD, BDY_PRT_NM, ACTV_IND,
    	CREATE_TS, LST_UPDT_TS, CREATE_USR_ID, LST_UPDT_USR_ID
  	</sql>
  	<sql id="Condition_Column_List" >
    	COND_ID, COND_PRFX_CD, COND_NM, ACTV_IND,
    	CREATE_TS, LST_UPDT_TS, CREATE_USR_ID, LST_UPDT_USR_ID
  	</sql>  	
  	<sql id="Procedure_Column_List" >
    	PROC_ID, PROC_PRFX_CD, PROC_NM, ACTV_IND,
    	CREATE_TS, LST_UPDT_TS, CREATE_USR_ID, LST_UPDT_USR_ID
  	</sql>
  	<sql id="ArziType_Column_List" >
    	ARZI_TYP_ID, ARZI_TYP,
    	CREATE_TS, LST_UPDT_TS, CREATE_USR_ID, LST_UPDT_USR_ID
  	</sql>
  	<sql id="Date_Column_List" >
    	DT_ID, CAL_DT, CAL_YR, CAL_MNTH_NBR, CAL_MNTH_NM, HIJRI_DATE_ID, HIJRI_DT, HIJRI_YR, HIJRI_MNTH_NBR, HIJRI_MNTH_NM, MIQAAT_MNTH_DY,
    	CREATE_TS, LST_UPDT_TS, CREATE_USR_ID, LST_UPDT_USR_ID
  	</sql>
  	<sql id="Jamaat_Column_List">
		JAMAAT_ID, JAMAAT_NM, JAMIYAT_NM, REGION, COUNTRY,
		CREATE_USR_ID, CREATE_TS, LST_UPDT_USR_ID, LST_UPDT_TS
	</sql>
  	<sql id="Location_Column_List">
		LOC_ID, CITY_NM, STATE_NM, CNTRY_NM,
		CREATE_USR_ID, CREATE_TS, LST_UPDT_USR_ID, LST_UPDT_TS
	</sql>

  	<!-- Select Statements -->
  	<!--Get Distinct Lookup Types. -->
  	<select id="selectDistinctLookupTypes" resultMap="DistinctLookupTypeResultMap" useCache="true">
	    select  distinct LKUP_TYPE
	    from D_LOOKUPS
	    where ACTIVE_IND = 'Y'
	    order by LKUP_TYPE
  	</select>
  	<!--Get Lookups by Lookup Type. -->
  	<select id="selectByLookupType" resultMap="BaseResultMap">
	    select
	    <include refid="Base_Column_List" />
	    from D_LOOKUPS
	    where LKUP_TYPE = #{lookupType,jdbcType=VARCHAR} and ACTIVE_IND = 'Y'
	    order by SORT_ORDER
  	</select>
	<!--Get Lookups by Lookup Type.-->
   	<select id="selectByLookupTypeValueSort" resultMap="BaseResultMap" useCache="true">
	    select
	    <include refid="Base_Column_List" />
	    from D_LOOKUPS
	    where LKUP_TYPE = #{lookupType,jdbcType=VARCHAR} and ACTIVE_IND = 'Y'
	    order by LKUP_VAL
  	</select>
	<!--Get Lookups by Lookup Type.-->
  	<select id="selectByLookupTypeAndLookupValue" resultMap="BaseResultMap" useCache="true">
	    select
	    <include refid="Base_Column_List" />
	    from D_LOOKUPS
	    where LKUP_TYPE = #{lookupType,jdbcType=VARCHAR} and LKUP_VAL = #{lookupValue,jdbcType=VARCHAR}
  	</select>
	<!--Get Lookups by Lookup ID.-->
 	<select id="selectByLookupId" resultMap="BaseResultMap" useCache="true">
	    select
	    <include refid="Base_Column_List" />
	    from D_LOOKUPS
	    where LKUP_ID = #{lookupId,jdbcType=INTEGER} and ACTIVE_IND = 'Y'
  	</select>
	<!--Get Lookups by Lookup ID.-->
 	<select id="selectByLookupValue" resultMap="BaseResultMap" useCache="true">
	    select
	    <include refid="Base_Column_List" />
	    from D_LOOKUPS
	    where LKUP_VALUE = #{lookupValue,jdbcType=VARCHAR} and ACTIVE_IND = 'Y'
  	</select>
  	
  	<!-- Select all body parts -->
  	<select id="selectAllBodyParts" resultMap="BodyPartResultMap">
	    select
	    <include refid="BodyPart_Column_List" />
	    from D_BDY_PRT
	    where ACTV_IND = 'Y'
  	</select>
  	
  	<!-- Select all conditions -->
  	<select id="selectAllMedicalConditions" resultMap="ConditionResultMap">
	    select
	    <include refid="Condition_Column_List" />
	    from D_COND
	    where ACTV_IND = 'Y'
  	</select>
  	
  	<!-- Select all procedure -->
  	<select id="selectAllMedicalProcedures" resultMap="ProcedureResultMap">
	    select
	    <include refid="Procedure_Column_List" />
	    from D_PROC
	    where ACTV_IND = 'Y'
  	</select>
  	
  	<!-- Select all arzi types -->
  	<select id="selectAllArziTypes" resultMap="ArziTypeResultMap">
	    select
	    <include refid="ArziType_Column_List" />
	    from D_ARZI_TYP
  	</select>
  	
  	<select id="selectGregHijBasedOnCalDt" resultMap="GregHijDateResultMap" parameterType="Date">
	    select
	    <include refid="Date_Column_List" />
	    from D_DATE 
	    where CAL_DT = #{calDate, jdbcType=DATE}
  	</select>
  	
  	<select id="selectGregHijDateById" resultMap="GregHijDateResultMap" parameterType="Long">
	    select
	    <include refid="Date_Column_List" />
	    from D_DATE 
	    where DT_ID = #{dateId, jdbcType=DATE}
  	</select>
  	
  	<!-- Select jamaat by id -->
  	<select id="selectJamaatById" resultMap="JamaatResultMap" parameterType="Long">
		select
			<include refid="Jamaat_Column_List" />
		from D_JAMAAT
		where JAMAAT_ID = #{jamaatId,jdbcType=INTEGER}	
	</select>
	
	<!-- Select all jamaats -->
	<select id="selectAllJamaats" resultMap="JamaatResultMap">
	    select
	    <include refid="Jamaat_Column_List" />
	    from D_JAMAAT
  	</select>
  	
  	<!-- Select all the distinct countries from the D_LOCATION table -->
	<select id="selectAllDistinctCountries" resultType="java.lang.String">
		select 
			distinct CNTRY_NM 
		from D_LOCATION;
	</select>  	

  	<!-- Select all the distinct states from the D_LOCATION table based on the selected country -->
	<select id="selectAllDistinctStatesByCountry" resultType="java.lang.String">
		select 
			distinct STATE_NM 
		from 
			D_LOCATION 
		where 
			CNTRY_NM = #{country,jdbcType=VARCHAR}
	</select> 
	
	<!-- Select all the cities from the D_LOCATION table based on the selected country and state -->
	<select id="selectAllCitiesByStateAndCountry" resultType="java.lang.String">
		select 
			CITY_NM 
		from 
			D_LOCATION 
		where 
			STATE_NM = #{state,jdbcType=VARCHAR} and
			CNTRY_NM = #{country,jdbcType=VARCHAR}
	</select>
	
	<!-- Select the location based on the country, state and city -->
  	<select id="selectLocationByCityStateAndCountry" resultMap="LocationResultMap">
		select
			<include refid="Location_Column_List" />
		from 
			D_LOCATION
		where 
			CITY_NM = #{city,jdbcType=VARCHAR} and
			STATE_NM = #{state,jdbcType=VARCHAR} and
			CNTRY_NM = #{country,jdbcType=VARCHAR}
	</select>	

	<!-- Select the location by id -->
  	<select id="selectLocationById" resultMap="LocationResultMap">
		select
			<include refid="Location_Column_List" />
		from 
			D_LOCATION
		where 
			LOC_ID = #{locationId,jdbcType=INTEGER}	
	</select>
	
  	<!-- Insert Statements -->
  	<insert id="insertLookup" parameterType="Lookup">
      insert into D_LOOKUPS (LKUP_ID, LKUP_TYPE, LKUP_VAL, CREATE_TS, CREATE_USR_ID
      ) SELECT max(LKUP_ID) + 1,  #{lookupType,jdbcType=VARCHAR},
      #{lookupValue,jdbcType=VARCHAR},now(), #{userAdded,jdbcType=VARCHAR}
		FROM D_LOOKUPS
  		<selectKey keyProperty="id" resultType="int" order="AFTER">
 			select max(id) FROM D_LOOKUPS
    	</selectKey>
  	</insert>

  	<!-- Update Statements -->
    <update id="updateLookup" parameterType="Lookup">
      update D_LOOKUPS set LKUP_VAL = #{lookupValue,jdbcType=VARCHAR},
      LKUP_DESC = #{description,jdbcType=VARCHAR}, SORT_ORDER = #{sortOrder,jdbcType=INTEGER},
      LST_UPDT_TS = now(), LST_UPDT_USR_ID = #{updatedBy,jdbcType=VARCHAR}
      where LKUP_ID = #{id}
  	</update>
</mapper>