<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.medicalarzi.dao.PatientMapper" >
	<resultMap id="patientInfo" type="Patient" >
	    <id column="PTNT_ITS_NBR" property="itsNumber" jdbcType="INTEGER" />
	    <result column="FIRST_NM" property="firstName" jdbcType="VARCHAR" />
	    <result column="MDL_NM" property="middleName" jdbcType="VARCHAR" />
	    <result column="LAST_NM" property="lastName" jdbcType="VARCHAR" />
	    <result column="DOB" property="dob" jdbcType="DATE" />
	    <result column="HASH_PSWD" property="updatedBy" jdbcType="VARCHAR" />
	    <result column="HOME_PHN" property="phoneNum" jdbcType="VARCHAR" />
	    <result column="CELL_PHN" property="cellNum" jdbcType="VARCHAR" />
	    <result column="FAX" property="faxNum" jdbcType="VARCHAR" />
	    <result column="EMAIL_ADDR1" property="emailAddress" jdbcType="VARCHAR" />
	    <result column="ADDR_LN_1" property="homeAddress1" jdbcType="VARCHAR" />
	    <result column="ADDR_LN_2" property="homeAddress2" jdbcType="VARCHAR" />
	    <result column="ZIP_CD" property="zip" jdbcType="VARCHAR" />
	    <result column="ACTV_IND" property="activeInd" jdbcType="VARCHAR" javaType="BOOLEAN" />
	    <result column="CREATE_USR_ID" property="createdBy" jdbcType="VARCHAR" />
	    <result column="CREATE_TS" property="createdDate" jdbcType="TIMESTAMP" />
	    <result column="LST_UPDT_USR_ID" property="updatedBy" jdbcType="VARCHAR" />
	    <result column="LST_UPDT_TS" property="updatedDate" jdbcType="TIMESTAMP" />
	    <association property="gender" column="genderInd" javaType="Lookup">
			<id 	property="lookupId" 	column="genderInd" />
			<result property="lookupValue" 	column="genderVal" />
			<result property="description" 	column="genderDescription" />
		</association>
	    <association property="ptntTitle" column="ptntTitleId" javaType="Lookup">
			<id 	property="lookupId" 	column="ptntTitleId" />
			<result property="lookupValue" 	column="ptntTitleName" />
		</association>
		<association property="ptntMiddleNmTitle" column="ptntMiddleNmTitleId" javaType="Lookup">
			<id 	property="lookupId" 	column="ptntMiddleNmTitleId" />
			<result property="lookupValue" 	column="ptntMiddleNmTitleName" />
		</association>
		<association property="jamaat" column="jamaatId" javaType="Jamaat" 
			select="com.example.medicalarzi.dao.LookupMapper.selectJamaatById" />
		<association property="location" column="locationId" javaType="Location" 
			select="com.example.medicalarzi.dao.LookupMapper.selectLocationById"/>
		<association property="medicalHistory" column="PTNT_ITS_NBR" javaType="MedicalHistory" 
			select="retrievePtntMedicalHistory" />	
		<collection column="PTNT_ITS_NBR" property="roles" ofType="SecurityRole" javaType="java.util.ArrayList" 
			select="com.example.medicalarzi.dao.SecurityMapper.selectSecurityRolesForUser" />
  	</resultMap>
  	
  	<resultMap id="medicalHistoryResultMap" type="MedicalHistory" >
  		<result column="ptntItsNbr" property="itsNumber" jdbcType="INTEGER" />
  		<result column="primaryDrName" property="primaryDrName" jdbcType="TIMESTAMP" />
  		<result column="primaryDrPhone" property="primaryDrPhone" jdbcType="VARCHAR" />
  		<result column="asthmaInd" property="asthmaInd" jdbcType="VARCHAR" javaType="BOOLEAN" />
  		<result column="cholesterolInd" property="cholesterolInd" jdbcType="VARCHAR" javaType="BOOLEAN" />
  		<result column="atrialfibInd" property="atrialFibrillationInd" jdbcType="VARCHAR" javaType="BOOLEAN" />
  		<result column="diabetesInd" property="diabetesInd" jdbcType="VARCHAR" javaType="BOOLEAN" />
  		<result column="diabetesType" property="diabetesType" jdbcType="VARCHAR" />
  		<result column="hyperTensionInd" property="hyperTensionInd" jdbcType="VARCHAR" javaType="BOOLEAN" />
  		<result column="thyroidDisId" property="thyroidDisorderInd" jdbcType="VARCHAR" javaType="BOOLEAN" />
  		<result column="cancerType" property="cancerType" jdbcType="VARCHAR" />
  		<result column="heartDiseaseType" property="heartDiseaseType" jdbcType="VARCHAR" />
  		<result column="otherInfo" property="otherInfo" jdbcType="VARCHAR" />
  		<result column="medHistCreateUserId" property="createdBy" jdbcType="VARCHAR" />
	    <result column="medHistCreateTS" property="createdDate" jdbcType="TIMESTAMP" />
	    <result column="medHistLastUpdUserId" property="updatedBy" jdbcType="VARCHAR" />
	    <result column="medHistLastUpdTS" property="updatedDate" jdbcType="TIMESTAMP" />
  	</resultMap>

	<!-- SQL fragments -->  	
  	<sql id="ptntColumnList">
  		PTNT_ITS_NBR,
  		TTL_ID AS "ptntTitleId",
  		FIRST_NM,
  		MDL_NM_TTL_ID AS "ptntMiddleNmTitleId",
  		MDL_NM,
  		LAST_NM,
  		DOB,
  		GNDR_IND_ID AS "genderInd",
  		HOME_PHN,
  		CELL_PHN,
  		FAX,
  		EMAIL_ADDR1,
  		ADDR_LN_1,
  		ADDR_LN_2,
  		LOC_ID AS "locationId",
  		ZIP_CD,
  		JAMAAT_ID AS "jamaatId",
  		ACTV_IND,
  		CREATE_USR_ID,
  		CREATE_TS,
  		LST_UPDT_USR_ID,
  		LST_UPDT_TS,
  		(SELECT LKUP_VAL FROM D_LOOKUPS WHERE LKUP_ID = TTL_ID) AS "ptntTitleName",
  		(SELECT LKUP_VAL FROM D_LOOKUPS WHERE LKUP_ID = MDL_NM_TTL_ID) AS "ptntMiddleNmTitleName",
  		(SELECT LKUP_VAL FROM D_LOOKUPS WHERE LKUP_ID = GNDR_IND_ID) AS "genderVal",
  		(SELECT LKUP_DESC FROM D_LOOKUPS WHERE LKUP_ID = GNDR_IND_ID) AS "genderDescription"
  	</sql>
  	
  	<sql id="medHistColumnList">
  		mhst.ITS_NBR as "ptntItsNbr",
  		mhst.PRIM_DR_NM as "primaryDrName",
  		mhst.PRIM_DR_PHN as "primaryDrPhone",
  		mhst.ASTHMA_IND as "asthmaInd",
  		mhst.CHLSTRL_IND as "cholesterolInd",
  		mhst.AFIB_IND as "atrialfibInd",
  		mhst.DBTS_IND as "diabetesInd",
  		mhst.DBTS_TYP as "diabetesType",
  		mhst.HYPR_TNSN_IND as "hypertensionId",
  		mhst.THYRD_DISORD_IND as "thyroidDisId",
  		mhst.CANCER_TYP as "cancerType",
  		mhst.HEART_DIS_TYP as "heartDiseaseType",
  		mhst.OTH_INFO as "otherInfo",
  		mhst.CREATE_USR_ID as "medHistCreateUserId",
  		mhst.CREATE_TS as "medHistCreateTS",
  		mhst.LST_UPDT_USR_ID as "medHistLastUpdUserId",
  		mhst.LST_UPDT_TS as "medHistLastUpdTS"
  	</sql>  	

	<!-- All the tables name and column names should be in CAPS or else it would not work in MySQL -->
  	<!-- Insert -->
	<insert id="insertPatientRecord" parameterType="Patient">
		<![CDATA[
			insert into D_PTNT (
				PTNT_ITS_NBR,
				TTL_ID,
				FIRST_NM,
				MDL_NM_TTL_ID,
				MDL_NM,
				LAST_NM,
				GNDR_IND_ID,
				DOB,
				EMAIL_ADDR1,
				HASH_PSWD,
				CREATE_USR_ID,
				CREATE_TS,
				LST_UPDT_USR_ID,
				LST_UPDT_TS
			) values (
			#{itsNumber,jdbcType=INTEGER},
			#{ptntTitle.lookupId,jdbcType=INTEGER},
			#{firstName,jdbcType=VARCHAR},
			#{ptntMiddleNmTitle.lookupId,jdbcType=INTEGER},
			#{middleName,jdbcType=VARCHAR},
			#{lastName,jdbcType=VARCHAR},
			#{gender.lookupId,jdbcType=INTEGER},
			#{dob,jdbcType=DATE},
			#{emailAddress,jdbcType=VARCHAR},
			encode(#{password,jdbcType=VARCHAR}, #{passString,jdbcType=VARCHAR}),
			#{itsNumber,jdbcType=INTEGER},
			now(),
			#{itsNumber,jdbcType=INTEGER},
			now()) ]]>
	</insert>
	
	<insert id="insertPtntMedicalHistory" parameterType="MedicalHistory">
		insert into F_MED_HIST
	    <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="itsNumber != null" >
	        	ITS_NBR,
	      	</if>
	      	<if test="primaryDrName != null" >
	        	PRIM_DR_NM,
	      	</if>
	      	<if test="primaryDrPhone != null" >
	        	PRIM_DR_PHN,
	      	</if>
	      	<if test="asthmaInd != null" >
	        	ASTHMA_IND,
	      	</if>
	      	<if test="cholesterolInd != null" >
	        	CHLSTRL_IND,
	      	</if>
	      	<if test="atrialFibrillationInd != null" >
	        	AFIB_IND,
	      	</if>
	      	<if test="diabetesInd != null" >
	        	DBTS_IND,
	      	</if>
	      	<if test="diabetesType != null" >
	        	DBTS_TYP,
	      	</if>	      	
	      	<if test="hyperTensionInd != null" >
	        	HYPR_TNSN_IND,
	      	</if>
	      	<if test="thyroidDisorderInd != null" >
	        	THYRD_DISORD_IND,
	      	</if>	      	
	      	<if test="cancerType != null" >
	        	CANCER_TYP,
	      	</if>
	      	<if test="heartDiseaseType != null" >
	        	HEART_DIS_TYP,
	      	</if>
	      	<if test="otherInfo != null" >
	        	OTH_INFO,
	      	</if>
	      	<if test="itsNumber != null" >
	        	CREATE_USR_ID,
	      	</if>
	      	CREATE_TS,
	      	<if test="itsNumber != null" >
	        	LST_UPDT_USR_ID,
	      	</if>
	      	LST_UPDT_TS
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      	<if test="itsNumber != null" >
	        	#{itsNumber,jdbcType=INTEGER},
	      	</if>
	      	<if test="primaryDrName != null" >
	        	#{primaryDrName,jdbcType=VARCHAR},
	      	</if>
	      	<if test="primaryDrPhone != null" >
	        	#{primaryDrPhone,jdbcType=VARCHAR},
	      	</if>
	      	<if test="asthmaInd != null" >
	        	#{asthmaInd,jdbcType=VARCHAR,javaType=BOOLEAN},
	      	</if>
	      	<if test="cholesterolInd != null" >
	        	#{cholesterolInd,jdbcType=VARCHAR,javaType=BOOLEAN},
	      	</if>
	      	<if test="atrialFibrillationInd != null" >
	        	#{atrialFibrillationInd,jdbcType=VARCHAR,javaType=BOOLEAN},
	      	</if>
	      	<if test="diabetesInd != null" >
	        	#{diabetesInd,jdbcType=VARCHAR,javaType=BOOLEAN},
	      	</if>
	      	<if test="diabetesType != null" >
	        	#{diabetesType,jdbcType=VARCHAR},
	      	</if>
	      	<if test="hyperTensionInd != null" >
	        	#{hyperTensionInd,jdbcType=VARCHAR,javaType=BOOLEAN},
	      	</if>
	      	<if test="thyroidDisorderInd != null" >
	        	#{thyroidDisorderInd,jdbcType=VARCHAR,javaType=BOOLEAN},
	      	</if>
	      	<if test="cancerType != null" >
	        	#{cancerType,jdbcType=VARCHAR},
	      	</if>
	      	<if test="heartDiseaseType != null" >
	        	#{heartDiseaseType,jdbcType=VARCHAR},
	      	</if>
	      	<if test="otherInfo != null" >
	        	#{otherInfo,jdbcType=VARCHAR},
	      	</if>
	      	<if test="itsNumber != null" >
	        	#{itsNumber,jdbcType=INTEGER},
	      	</if>
	      	now(),
	      	<if test="itsNumber != null" >
	        	#{itsNumber,jdbcType=INTEGER},
	      	</if>
	      	now()
	    </trim>			 
	</insert>	
	
	<!-- Update -->
	<update id="updatePatientSelective" parameterType="Patient">
    	update D_PTNT
	    <set>
	      	<if test="dob != null">
        		dob = #{dob,jdbcType=DATE},
      		</if>
      		<if test="gender != null">
      			gndr_ind_id = #{gender.lookupId,jdbcType=VARCHAR},
      		</if>
      		<if test="homeAddress1 != null">
      			addr_ln_1 = #{homeAddress1,jdbcType=VARCHAR},
      		</if>
      		<if test="homeAddress2 != null">
      			addr_ln_2 = #{homeAddress2,jdbcType=VARCHAR},
      		</if>
      		<if test="phoneNum != null">
      			home_phn = #{phoneNum,jdbcType=VARCHAR},
      		</if>
      		<if test="location != null">
      			loc_id = #{location.locationId,jdbcType=VARCHAR},
      		</if>
      		<if test="zip != null">
      			zip_cd = #{zip,jdbcType=VARCHAR},
      		</if>
      		<if test="jamaat != null">
      			jamaat_id = #{jamaat.jamaatId,jdbcType=VARCHAR},
      		</if>
      		LST_UPDT_USR_ID = #{itsNumber,jdbcType=VARCHAR},
      		LST_UPDT_TS = now()
      		 where PTNT_ITS_NBR = #{itsNumber,jdbcType=INTEGER}
	    </set>
    </update>
    
    <update id="updatePtntMedicalHistory" parameterType="MedicalHistory">
     	update F_MED_HIST
	    <set>
      		<if test="primaryDrName != null">
      			PRIM_DR_NM = #{primaryDrName,jdbcType=VARCHAR},
      		</if>
      		<if test="primaryDrPhone != null">
      			PRIM_DR_PHN = #{primaryDrPhone,jdbcType=VARCHAR},
      		</if>
      		<if test="asthmaInd != null">
      			ASTHMA_IND = #{asthmaInd,jdbcType=VARCHAR,javaType=BOOLEAN},
      		</if>
      		<if test="cholesterolInd != null">
      			CHLSTRL_IND = #{cholesterolInd,jdbcType=VARCHAR,javaType=BOOLEAN},
      		</if>
      		<if test="atrialFibrillationInd != null">
      			AFIB_IND = #{atrialFibrillationInd,jdbcType=VARCHAR,javaType=BOOLEAN},
      		</if>
      		<if test="diabetesInd != null">
      			DBTS_IND = #{diabetesInd,jdbcType=VARCHAR,javaType=BOOLEAN},
      		</if>
      		<if test="diabetesType != null">
      			DBTS_TYP = #{diabetesType,jdbcType=VARCHAR,javaType=BOOLEAN},
      		</if>      		
      		<if test="hyperTensionInd != null">
      			HYPR_TNSN_IND = #{hyperTensionInd,jdbcType=VARCHAR,javaType=BOOLEAN},
      		</if>
      		<if test="thyroidDisorderInd != null">
      			THYRD_DISORD_IND = #{thyroidDisorderInd,jdbcType=VARCHAR,javaType=BOOLEAN},
      		</if>
      		<if test="cancerType != null">
      			CANCER_TYP = #{cancerType,jdbcType=VARCHAR},
      		</if>
      		<if test="heartDiseaseType != null">
      			HEART_DIS_TYP = #{heartDiseaseType,jdbcType=VARCHAR},
      		</if>
      		<if test="otherInfo != null">
      			OTH_INFO = #{otherInfo,jdbcType=VARCHAR},
      		</if>
      		<if test="itsNumber != null">
      			LST_UPDT_USR_ID = #{itsNumber,jdbcType=INTEGER},
      		</if>
      		LST_UPDT_TS = now()
      		where ITS_NBR = #{itsNumber,jdbcType=INTEGER}
	    </set>   
    </update>    

	<!-- Select -->
	<select id="checkPatientPassword" resultType="string">
		<![CDATA[
			select case
				when
					encode(#{password,jdbcType=VARCHAR}, #{passString,jdbcType=VARCHAR})=HASH_PSWD
				then
					'true'
				else
					'false'
			end
			from D_PTNT where PTNT_ITS_NBR=#{itsNumber,jdbcType=INTEGER} ]]>
	</select>

	<select id="retrievePatientInfo" resultMap="patientInfo">
		select
			<include refid="ptntColumnList" />
		from D_PTNT
		where PTNT_ITS_NBR = #{itsNumber,jdbcType=INTEGER}
	</select>

	<select id="retrievePassword" resultType="string">
		select
			decode(HASH_PSWD, #{passString,jdbcType=VARCHAR})
		from D_PTNT
		where PTNT_ITS_NBR = #{itsNumber,jdbcType=INTEGER}
	</select>
	
	<select id="retrievePtntMedicalHistory" resultMap="medicalHistoryResultMap">
		select
			<include refid="medHistColumnList" />
		from F_MED_HIST mhst
		where mhst.ITS_NBR = #{itsNumber,jdbcType=INTEGER}
	</select>
</mapper>